<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name Letters</title>
</head>

<body>
  <% if(locals.result) { %> <!-- locals is a way to access all of the variables that get sent over with res.render and in this case to check if the result key exist. -->
    <h1>There are <%= result %> letters in your name.</h1>
  <% } else { %>
    <h1>Enter your name below:</h1>
  <% } %>
  <form action="/submit" method="POST">
    <input type="text" name="fName" placeholder="First name">
    <input type="text" name="lName" placeholder="Last name">
    <input type="submit" value="OK">
  </form>
</body>

</html>