<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Blog</title>
</head>
<body>
  <h1>Edit Blog</h1>
  <form action="/updateBlog/<%= blog.id %>?_method=PUT" method="POST">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" value="<%= blog.title %>"><br>
    <label for="content">Content:</label><br>
    <textarea id="content" name="content"><%= blog.content %></textarea><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
