<%- include("./partials/header.ejs") %>
<h4>Total: <%= all_blogs.length %>
</h4>
<h4>Recent Posts:</h4>
<ul>
  <% all_blogs.forEach(blog=> { %>
    <li>
      <a href="/showBlog/<%= blog.id %>">
        <%= blog.title %>
      </a>
    </li>
    <% }); %>
</ul>